<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RiskCovry">
<test verbose="2" preserve-order="true" name="RiskCovry UseCase">
<parameter name="Browser"  value="chrome"/>
    <classes>
        <class name="TestCase.RiskCovryTestCase"/>
    </classes>

</test>
</suite>